#main{
    text-align: center;
}

.gallery{
    margin: auto;
    text-align: center;
}
.imgbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
    margin: auto;
    height: 420px;
}
.imgbox img.main-img{
    flex: 0 0 auto;
    box-sizing: border-box;
    vertical-align: middle;
    width: 740px;
    height: 420px;
    display: inline-flex;
}

.imgbox .arrow{
    z-index: 2;
    background: transparent;
    position: absolute;
    border: 3px solid #fff;
    width: 40px;
    height: 40px;
    transform: translate(0, -50%)rotate(45deg);
    top: 50%;
}


.imgbox .arrow:hover{
    opacity: 0.5;
}

.imgbox .arrow.right{
    right: 20px;
    border-left: none;
    border-bottom: none;
}
.imgbox .arrow.left{
    display: none;
    left: 20px;
    border-right: none;
    border-top: none;
}

.imgbox.error{
    background: #fff;
}

.imgbox.error:after{
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 10px 100px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f00 url(./img/error.png) center no-repeat;
    background-size: 60px;
    content: 'Файл не найден!';
}


.gallery-tips{
    text-align: center;
    margin: 20px auto;
    width: 100%;
}

.gallery-tips img{
    background-color: #fff;
    opacity: 0.7;
    transition: all 0.3s ease;
}
.gallery-tips img:not(.cur){
    opacity: 1;
}
.gallery-tips img:not(.cur):hover{
    cursor: pointer;
    opacity: 0.7;
}